/* Hover State Styles */

.is-hoverable:hover {
    filter: brightness(1.2) !important;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
    font-weight: bold;
}

.hover-move-up:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
}

.hover-bright:hover {
    filter: brightness(1.2);
}

.hover-bright:active {
    transform: scale(1.1);
}

.hover-bright-text:hover {
    filter: brightness(1.2) !important;
    text-shadow: 0 0 4px rgba(255, 255, 255, 0.3);
    transition: text-shadow 0.3s ease;
}

.hover-bright-icon:hover {
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.7);
    transition: text-shadow 0.3s ease;
}
